body {
  background-color: lightblue;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: IBM Plex Serif;
  backgroud-color: skyblue;
  padding: 5px;
  margin: 5px;
  font-weight: 700;
  text-align: center;
  text-size: 60px;
}

h2 {
  font-family: IBM Plex Serif;
  font-weight: 700;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-size: 40px;
}

p {
  text-align: center;
  font-family: IBM Plex Serif;
  font-weight: 400;
  padding: 20px;
  margin: 20px;
  text-size: 20px;
}

a{
  color: #16538c;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #196ebd;
}

.btn {
  background-color: #16538c;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'IBM Plex Serif' serif;
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff;
  color: #16538c;
  transition: color .1s ease-in, background-color .1s ease-in;
}

.btn:active {
  font-size: 18px;
  transition: font-size .1s ease-in-out;
}

  
